.container
  .jumbotron
  h1 This is a Partial
  h2 {{ myVar }}
  p Witam na stronie Klubu Strzeleckiego "SENIOR" Ligii Obrony Kraju

  .row
    .col-md-6
      div(ng-include="'/partials/sub-page-1'")
    .col-md-6
      div(ng-include="'/partials/sub-page-2'")