.content.div-box
  div#events
    div.inline
      h2 Zawody
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-lg.btn-primary(ng-click='openCompetitionsWindow()') 
        span.glyphicon.glyphicon-plus Dodaj

  div.form-group
    .col-md-4
      input.form-control.search(ng-model="searchText", placeholder="Szukaj")
    .col-md-8 
      b Organizator zastrzega sobie prawo do zmiany w/w terminów w szczególnych przypadkach.

  table.senior-table-bg.table
    thead
      tr
        th L.p.
        th Nazwa zawodów
        th Konkurencje
        th Data
        th Uwagi
        th(ng-if="identity.currentUser.isAdmin()")
    tbody
      tr(ng-repeat="c in competitions | filter:searchText")
        td {{ $index +1 }}
        td 
          a(href="/events/{{c._id}}") {{ c.title }}
        td {{ c.competition.toString() }}
        td 
          nobr {{ c.date | date:'dd-MM-yyyy' }}
        td {{ c.notes }}
        td(ng-if="identity.currentUser.isAdmin()")
          button.btn.btn-xs.btn-warning(ng-click='openCompetitionsWindow(c)')
            span.glyphicon.glyphicon-pencil
          button.btn.btn-xs.btn-danger(ng-click='remove(c)') 
            span.glyphicon.glyphicon-remove
              