.content.div-box
  div#events
    div.inline
      h2 {{ details.title + ' ' }}
        small {{ details.date | date:'dd-MM-yyyy' }}
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")      
      button.btn.btn-warning(ng-click='openCompetitionsWindow(details)') 
        span.glyphicon.glyphicon-pencil Edytuj
      button.btn.btn-danger(ng-click='remove(details)') 
        span.glyphicon.glyphicon-remove Usuń

  div
    div.description(ng-show='details.description') 
      h4 Opis
      {{ details.description }}

  div(ng-repeat="comp in details.competition")
    div.inline
      h4 
        small Komunikat nr {{ $index +1 }} konkurencja: 
        {{ comp }}
    div.inline(ng-if="identity.currentUser.isAdmin()")   
      button.btn.btn-primary(ng-click='openResultWindow(comp)') 
        span.glyphicon.glyphicon-plus Dodaj wynik

    table.senior-table-bg.table
      thead
        tr
          th Miejsce
          th Nazwisko Imię
          th Klub
          th Serie
          th Wynik
          th Uwagi
          th(ng-if="identity.currentUser.isAdmin()")
      tbody
        tr(ng-repeat="r in results | filter:comp")
          td {{ r.place }}
          td {{ r.name }}
          td {{ r.club }}
          td {{ r.series.toString() }}
          td {{ r.total }}
          td {{ r.notes }}
          td(ng-if="identity.currentUser.isAdmin()")
            button.btn.btn-xs.btn-warning(ng-click='openResultWindow(comp, r)')
              span.glyphicon.glyphicon-pencil
            button.btn.btn-xs.btn-danger(ng-click='removeResult(r)') 
              span.glyphicon.glyphicon-remove
