.content.div-box
  div#events
    div.inline
      h2 {{ details.title }}
        small {{ details.date | date:'dd-MM-yyyy' }}
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-primary(ng-click='openResultWindow()') 
        span.glyphicon.glyphicon-plus Dodaj wynik
      button.btn.btn-warning(ng-click='openCompetitionsWindow(details)') 
        span.glyphicon.glyphicon-pencil Edytuj
      button.btn.btn-danger(ng-click='remove(details)') 
        span.glyphicon.glyphicon-remove Usuń

  div
    div(ng-show='details.description') 
      h4 Opis
      {{ details.description }}
    div
      small {{ details.notes}}
    div 
      {{details.resultsOn}}

