div.base-panel.modal-panel
  div.modal-header
    h3.modal-title Zawody

  div.modal-body
    form.form-horizontal(name="competitionsForm")
      fieldset
        .form-group
          label.col-md-2.control-label(for="title") Tytuł
          .col-md-10
            input.form-control(name="title", type="text", placeholder="Tytuł", ng-model="title", required)
        .form-group
          label.col-md-2.control-label(for="data") Data
          .col-md-10
            input.form-control(name="data", type="date", ng-model="date")
        .form-group
          label.col-md-2.control-label(for="competitions") Konkurencje
          .col-md-10
            input.form-control(name="competitions", type="text", placeholder="Konkurencja", ng-model="comp")
            button.btn.btn-success(ng-click='addComp(comp)') Dodaj
          .col-md-10
            ul(ng-repeat="c in competitions")
              li {{ c }}
        .form-group
          label.col-md-2.control-label(for="notes") Uwagi
          .col-md-10
            input.form-control(name="notes", type="text", placeholder="Uwagi", ng-model="notes")
        .form-group
          label.col-md-2.control-label(for="description") Opis
          .col-md-10
            textarea.form-control(rows="5", cols="80", name="description", type="text", ng-model="description")

  div.modal-footer
    button.btn.btn-primary(ng-click='publish()', ng-disabled="competitionsForm.$invalid") Zapisz 
    button.btn.btn-warning(ng-click='cancel()') Anuluj
