body {
  background-image: url("../img/bg.png");
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-inverse {
  background-color: #1b1b1b;
  border-color: #1b1b1b;
}
.div-box {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  padding: 15px 15px;
  margin: 8px 8px;
  font-weight: 300;
  color: #fff;
}
.content {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
}
.content.main {
  width: 1040px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -8px;
}
.main-elem {
  list-style: none;
  width: 330px;
  height: 411px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.main-elem.shadow {
  border: 15px solid #1b1b1b;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #1b1b1b;
  border-radius: 0px;
  box-shadow: rgba(0,0,0,0.6) 0px 1px 4px 0px;
}
div.text-box.main-elem-text {
  font-size: 33px;
  visibility: visible;
  left: 0px;
  top: 240px;
  width: 200px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
.text-box {
  border: 5px solid #1b1b1b;
  margin-right: 2px;
  margin-left: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #1b1b1b;
  border-radius: 0px;
  box-shadow: rgba(0,0,0,0.6) 0px 1px 4px 0px;
  color: #fff;
}
#logo-text-1 {
  font-size: 33px;
  visibility: visible;
  left: 25px;
  top: 25px;
  width: 320px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
#logo-text-2 {
  font-size: 33px;
  visibility: visible;
  left: 115px;
  top: 115px;
  width: 230px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
#logo-text-3 {
  font-size: 33px;
  visibility: visible;
  left: 40px;
  top: 330px;
  width: 480px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
#logo-button {
  border: 2px solid #3364af;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 5px;
  font-size: 22px;
  visibility: visible;
  right: 40px;
  top: 330px;
  width: 220px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
a {
  color: #fff;
}
.pic-desc {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 0px;
}
.pic-desc.desc {
  width: 649px;
}
.pic-desc h4 {
  color: #3364af;
}
.pic-desc h2 {
  color: #ba2800;
}
.senior-table-bg {
  width: 994px;
  text-align: left;
  padding-left: 15px;
  border: 5px solid #1b1b1b;
  margin-right: 2px;
  margin-left: 0px;
  margin-top: 15px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #1b1b1b;
  border-radius: 0px;
  box-shadow: rgba(0,0,0,0.6) 0px 1px 4px 0px;
}
div.news {
  width: 994px;
  text-align: left;
  padding-left: 15px;
  border: 5px solid #1b1b1b;
  margin-right: 2px;
  margin-left: 0px;
  margin-top: 15px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #1b1b1b;
  border-radius: 0px;
  box-shadow: rgba(0,0,0,0.6) 0px 1px 4px 0px;
}
div.news small {
  font: 12px 'jockey one', sans-serif;
}
.senior-top {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
.senior-top.senior-title {
  text-align: center;
  width: 595px;
  color: #fff;
}
.box-elem {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: text-top;
  width: 33%;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
footer p#copy {
  font: 13px 'jockey one', sans-serif;
}
h6.foottitle {
  line-height: 1.3em;
  text-align: left;
  color: #3364af;
  font: 23px/1.3em 'jockey one', sans-serif;
}
span.foottext {
  font: 15px/1.3em enriqueta, serif;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #3364af;
}
