body
  background-image: url("../img/bg.png");
  font: 15px 'Enriqueta', serif;
  line-height: 1.5em;
/**
.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.navbar {
  margin-bottom: 0px;
}
.navbar-inverse {
  background-color: rgb(27, 27, 27);
  border-color: rgb(27, 27, 27);
}*/

.div-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 15px;
  margin: 8px 8px;
  font-weight: 300;
  color: #FFFFFF;
}

.content {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
}
.content.main {
  width: 1040px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -8px;
}

.main-elem {
  list-style: none; 
  width: 330px;
  height: 411px;
  padding: 0;  
  display: inline-block;
  vertical-align: top;
}
.main-elem-text {
  vertical-align: middle;
}
.main-elem.shadow {
  border: 15px solid rgb(27, 27, 27);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(27, 27, 27);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
}
div.text-box.main-elem-text {
  font-size: 33px;
  visibility: visible;
  left: 0px;
  top: 240px;
  width: 200px;  
  position: absolute;
  z-index: auto;
}

.text-box {
  border: 5px solid rgb(27, 27, 27);
  height: 54px;
  margin-right: 2px;
  margin-left: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(27, 27, 27);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
  color: #fff;
}
.text-box > p {
  margin-top: 10px;
}
#logo-text-1 {
  font-size: 33px;
  visibility: visible;
  left: 25px;
  top: 25px;
  width: 320px;
  position: absolute;
  z-index: auto;
}
#logo-text-2 {
  font-size: 33px;
  visibility: visible;
  left: 115px;
  top: 115px;
  width: 230px;
  position: absolute;
  z-index: auto;
}
#logo-text-3 {
  font-size: 33px;
  visibility: visible;
  left: 40px;
  top: 330px;
  width: 480px;
  position: absolute;
  z-index: auto;
}
#logo-button {
  border: 2px solid rgb(51, 100, 175);
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  border-radius: 5px;

  font-size: 22px;
  visibility: visible;
  right: 40px;
  top: 330px;
  width: 220px;
  height: 55px;
  position: absolute;
  z-index: auto;
}
#logo-button > a:focus, #logo-button > a:hover {
  color: #3364af;
  background-color: transparent;
  text-decoration: none;
}

a {
  color: #fff;
}

.pic-desc {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 0px;
}
.pic-desc.desc {
  width: 649px;
}
h4 {
  color: rgb(51, 100, 175); 
  font: 25px/1.2em 'Enriqueta', serif; 
}
h2 {
  color: rgb(186, 40, 0);
  font: 40px/1.1em 'Enriqueta', serif;
}

.senior-table-bg {
  width: 994px;
  text-align: left;
  padding-left: 15px;
  border: 5px solid rgb(27, 27, 27);
  margin-right: 2px;
  margin-left: 0px;
  margin-top: 15px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(27, 27, 27);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
}

.base-panel {
  background-color: rgb(27, 27, 27);
  padding-right: 25px;
  color: rgb(255, 255, 255);
}
.modal-panel {
  border-radius:3px;
}
.base-panel label {
  font-weight: normal;
}
.base-panel input:active, .base-panel input:focus {
  border: 2px solid #3364af;
}
.base-panel h2 {
  margin-left: 25px;
}

div.news {
  width: 994px;
  text-align: left;
  padding-left: 15px;
  border: 5px solid rgb(27, 27, 27);
  margin-right: 2px;
  margin-left: 0px;
  margin-top: 15px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(27, 27, 27);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
}
div.news div {
  margin-right: 5px;
  display: inline-block;
}
div.news small {
  font: 14px 'Jockey One', sans-serif;
}

.senior-top {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
.senior-top.senior-title {
  text-align: center;
  width: 595px;
  color: #fff;
}
.senior-top.senior-title h1 {
  font: 75px 'Jockey One', sans-serif;
}
.senior-top.senior-title p {
  font: 20px 'Jockey One', sans-serif;
}

.box-elem {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: text-top;
  width: 33%;
}

footer
  padding-left 15px
  padding-right 15px
  text-align: left;

footer 
  p#copy
    font: 13px 'Jockey One', sans-serif;

h6.foottitle    
  line-height: 1.3em;
  text-align: left;
  color: rgb(51, 100, 175);
  font: 23px/1.3em 'Jockey One', sans-serif;

span.foottext
  font: 15px/1.3em 'Enriqueta', serif;

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color: rgb(51, 100, 175);

.content.menu {
  height: 35px;
  font-size: 20px;
  margin-bottom: 0px;
  background-color: rgb(0, 0, 0);
  border-top-left-radius:1em;
  border-top-right-radius:1em;
}
.content.menu div {
  display: inline-block;
}
div.menu-left > ul {  
  margin-bottom: 0px;
  list-style-type: none;
  -webkit-padding-start: 5px;
  padding-bottom: 0px;
}
div.menu-left > ul > li {
  display: inline;
  padding-left: 10px;
}

div.menu-right {
  float: right;
  margin-right: 20px;
}
div.menu-right > ul {  
  margin-bottom: 0px;
  list-style-type: none;
  -webkit-padding-end: 15px;
  padding-bottom: 0px;
  padding-right: 0px;
}
div.menu-right a {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

div.menu-right > ul > li.dropdown > a:hover, div.menu-right > ul > li.dropdown > a:focus {
  background-color: #000;
  text-decoration: none;
}
div.menu-right a > b.caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
div.menu-right a > b.caret:hover {
  border-top-color: #3364af;
  border-bottom-color: #3364af;
}
ul.dropdown-menu {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
ul.dropdown-menu > li {
  background-color: #000;
}
ul.dropdown-menu > li > a {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}
ul.dropdown-menu > li > a:hover {
  color: #3364af;
  background-color: #000;
}

div.menu-right > button {
  color: #fff;
  font: 13px 'Jockey One', sans-serif;
  background-color: #2c3e50;
  height: 23px;
  margin-top: 5px;  
  margin-left: 3px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: solid #3364af 1px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;

}
div.menu-right > button:focus, div.menu-right > button:hover {
  color: #3364af;
  background-color: transparent;
  text-decoration: none;
}

li > a:focus, li > a:hover {
  color: #3364af;
  background-color: transparent;
  text-decoration: none;
}

li > a {
  margin-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

li > a:before {  
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #3364af;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

li > a:hover:before, li > a:focus:before, li > a:active:before {
  right: 0;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}









/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #3364af;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}