extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") SENIOR
          h6 Klub Srzelecki LOK w Gdańsku
  section.content
    div(ng-view)
  h2= mongoMessage

  footer.container.text-center
    p &copy; 2015 KS \"Senior\" LOK w Gdańsku