extends ../includes/layout

block main-content
  .content
    a(href="/")
      div.senior-top.senior-logo
        img(src="../img/logo_lok_gdansk.png")
      div.senior-top.senior-title
        h1 KS SENIOR LOK
        p KLUB STRZELECKI LIGI OBRONY KRAJU W GDAŃSKU
      div.senior-top.senior-lok
        img(height="168", src="../img/lok_logo_www.png")

  .content.menu
    div.menu-left
      ul
        li
          a(href="/news") Aktualności 
        li
          a(href="/events") Zawody      
        <!--
        li
          a(href="/klasy") Klasy sportowe -->
        li
          a(href="/charges") Opłaty
        li
          a(href="/about") O klubie
        <!--
        li
          a(href="/galeria") Galeria
        li
          a(href="/linki") Linki -->

    div.menu-right(ng-controller='mvNavBarLoginCtrl') 
      ul(ng-if="!identity.isAuthenticated()")
        li
          a(ng-click='openSignUpWindow()', ng-if="!identity.isAuthenticated()") Rejestracja
        li
          a(ng-click='openLoginWindow()', ng-if="!identity.isAuthenticated()") Zaloguj
      ul.nav.navbar-nav.navbar-right(ng-if="!!identity.isAuthenticated()")
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
            b.caret
          ul.dropdown-menu
            li(ng-if="identity.currentUser.isAdmin()")
              a(href="/admin/users") Admininstracja
            li(ng-if="identity.currentUser.isAdmin()")
              a(href="/admin/events") Zawody i wyniki
            li
              a(href="/profile") Twoje dane
            li
              a(href="", ng-click="signout()") Wyloguj

  section.content
    div(ng-view)  

  footer.content.div-box(ng-controller='pageContentCtrl')
    div#foot
      section.box-elem(ng-repeat="section in content | filter:'footer' | orderBy:position")
        div.inline 
          h6.foottitle {{section.sectionTitle}}
        div.inline(ng-if="identity.currentUser.isAdmin()")
          button.btn.btn-xs.btn-warning(ng-click='openFooterWindow(section)')
            span.glyphicon.glyphicon-pencil
        div(ng-repeat="row in section.text")
          p 
            span.foottext {{row}}
      div.box-elem 
        h6.foottitle LOKALIZACJA
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m8!1m3!1d9301.657440974026!2d18.66766415986781!3d54.34965854257815!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e0!4m3!3m2!1d54.3467007!2d18.6722847!4m0!5e0!3m2!1spl!2spl!4v1427534684402" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
    p#copy &copy; 2015 KS "Senior" LOK w Gdańsku.