div 
    h4 {{ n.title }}
  div 
    small {{ n.getDate() | date:'dd-MM-yyyy' }}
  div.actionPanel(ng-if="identity.currentUser.isAdmin()")
    button.btn.btn-xs.btn-warning(ng-click='openPostWindow(n)')
      span.glyphicon.glyphicon-pencil
    button.btn.btn-xs.btn-danger(ng-click='removePost(n)') 
      span.glyphicon.glyphicon-remove
  div.postText
    p {{ n.text }}
