.content.base-panel
  table.table
    tr(ng-repeat="user in users")
      td {{user.firstName + ' ' + user.lastName}}
      td {{user.username}}
      td {{user.roles}}
      td(ng-click='setAdmin(user)') set Admin  
      td
      	button(ng-click='removeUser(user)') usuń