.div(ng-controller="mvNavBarLoginCtrl")
  form(ng-hide="identity.isAuthenticated()")
    ul
      li
        a(href="/signup") stwórz konto
    div
      input.form-control(placeholder="Email", ng-model="username")
    div
      input(type="password", placeholder="Password", ng-model="password")
    button.btn.btn-primary(ng-click="signin(username, password)") Zaloguj
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") User Admin
        li
          a(href="/profile") Profil
        li
          a(href="", ng-click="signout()") Wyloguj
