.content.div-box
  div.pic-desc
    div.inline
      h2 Opłaty i składki członkowskie
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-lg.btn-primary(ng-click='openNewChargesWindow()') 
        span.glyphicon.glyphicon-plus Dodaj
    div(ng-repeat="section in content | filter:'charges' | orderBy:position")
      h4 {{section.sectionTitle}}
      div(ng-repeat="row in section.text")
        p {{row}}
