div.base-panel.modal-panel
  div.modal-header
    h3.modal-title {{modalTitle}}

  div.modal-body
    form.form-horizontal(name="contentForm")
      fieldset
        .form-group
          label.col-md-2.control-label(for="sectionTitle") Nagłówek
          .col-md-10
            input.form-control(name="sectionTitle", type="text", placeholder="Nagłówek", ng-model="sectionTitle")
        .form-group
          label.col-md-2.control-label(for="post") Treść
          .col-md-10
            textarea.form-control(rows="8", cols="80", name="post", type="text", ng-model="text", required)

  div.modal-footer
    button.btn.btn-primary(ng-click='publish()', ng-disabled="contentForm.$invalid") Zapisz 
    button.btn.btn-warning(ng-click='cancel()') Anuluj
