.content.div-box
  div.pic-desc
    h2 Jak zostać  zawodnikiem Klubu:
    h4 Deklaracja
    p - z wypełnioną Deklaracją zgłosić się na posiedzenie Zarządu Klubu,
    p - po przyjęciu do Klubu opłacić obowiązujące składki,
    p - opłacić Legitymację członkowską PZSS – 32,50 zł
    h4 Egzamin
    p - przystąpić do egzaminu na PATENT STRZELECKI PZSS (test pisemny oraz praktyczny – strzelenie z pistoletu lub karabinka sportowego) wniosek o w/w Patent po wypełnieniu podpisuje lekarz medycyny sportowej. Koszt egzaminu wynosi 400,- zł.
    h4 Licencja strzelecka PZSS
    p - po otrzymaniu Patentu  wysyłamy kolejny wniosek do PZSS-u o Licencję strzelecką PZSS (koszt 50,-+ opłata pocztowa). Na Wniosku należy również otrzymać podpis lekarza medycyny sportowej o zdolności uprawiania strzelectwa sportowego.
    p - po otrzymaniu Licencji należy brać udział w treningach i zawodach strzeleckich.