.content.div-box
  div#events
    h2 Zawody
    table.senior-table-bg.table
      tbody
        tr
          th L.p.
          th Nazwa zawodów
          th Konkurencja
          th Data
          th Uwagi
          th Wyniki
        tr
          td 1
          td Zawody ogólnodostępne
          td Pcz-20
          td 8.02.2015
          td z ważną licencją
          td Komunikat
        tr
          td 2
          td Zawody ogólnodostępne
          td Psp-20
          td 8.02.2015
          td z ważną licencją
          td Komunikat 
        tr
          td 3
          td Zawody ogólnodostępne
          td Sytu.-polowe 9:00-12:00            
          td 22.02.2015
          td Open
          td Komunikat
        tr
          td 4
          td Zawody ogólnodostępne
          td Pojed. rewolwe. 12.00-14.00            
          td 22.02.2015
          td Open
          td Komunikat
        tr
          td 5
          td Zawody ogólnodostępne
          td Pst 3×20           
          td 1.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 6
          td Zawody ogólnodostępne
          td Ppn-40K          
          td 1.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 7
          td Zawody ogólnodostępne
          td Ppn-60M          
          td 1.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 8
          td Zawody ogólnodostępne
          td Ksp-20       
          td 8.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 9
          td Zawody ogólnodostępne
          td Kpn-30         
          td 8.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 10
          td Zawody ogólnodostępne
          td Psp 30+30 (seniorki)        
          td 15.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 11
          td Zawody ogólnodostępne
          td Kdow 20       
          td 15.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 12
          td Mistrzostwa wojewódzkie LOK w Gdańsku
          td Ppn-40      
          td 22.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 13
          td Mistrzostwa wojewódzkie LOK w Gdańsku
          td Ppn-60      
          td 22.03.2015
          td z ważną licencją
          td Komunikat
        tr
          td 14
          td Mistrzostwa wojewódzkie LOK w Gdańsku
          td Psp-30       
          td 29.03.2015
          td z ważną licencją
          td 
        tr
          td 15
          td Mistrzostwa wojewódzkie LOK w Gdańsku
          td Pcz-30       
          td 29.03.2015
          td z ważną licencją
          td 
        tr
          td 16
          td III Memoriał Jana Kubiaka
          td Psp 30     
          td 11.04.2015
          td Open
          td 
        tr
          td 17
          td III Memoriał Jana Kubiaka
          td Pst 3×20     
          td 11.04.2015
          td Open
          td 
        tr
          td 18
          td III Memoriał Jana Kubiaka
          td Psp 30+30    
          td 11.04.2015
          td z ważną licencją
          td 
        tr
          td 19
          td III Memoriał Jana Kubiaka
          td Pcz 30    
          td 11.04.2015
          td z ważną licencją
          td
        tr
          td 20
          td III Memoriał Jana Kubiaka
          td Ppn-30     
          td 11.04.2015
          td z ważną licencją
          td
        tr
          td 21
          td III Memoriał Jana Kubiaka
          td Sytuac.polowe Pojed.rewolwe.   
          td 12.04.2015
          td z ważną licencją
          td
        tr
          td 22
          td III Memoriał Jana Kubiaka
          td Ksp-20  
          td 12.04.2015
          td z ważną licencją
          td
        tr
          td 23
          td III Memoriał Jana Kubiaka
          td Kdow-20     
          td 12.04.2015
          td z ważną licencją
          td