.content.div-box
  div.pic-desc
    img(src="../img/Oklubie.png")
  div.pic-desc.desc
    h2#title O klubie
      h4 Zarząd Klubu.
      p Prezes Klubu: Szylberg Henryk,
      p Wiceprezes:
      p Sekretarz Klubu: Andrzejewski Wiesław,
      p Skarbnik Klubu: Lewandowski Wojciech,
      p Członkowie Zarządu: Meller Katarzyna, Jakubaszek Jan, Łukowicz Henryk.
      p Kierownik Klubu: Leszek Tylak.

      h4 Komisja Rewizyjna.
      p Przewodniczący: Frańczak Marek,
      p Sekretarz: Tobiszewski Jarosław,
      p Członek Komisji: Kwapisiewicz Agnieszka.
  div.pic-desc
    h4 Władze klubu
    p W latach 1952-1960 Kierownikiem Sekcji ZW LOK w Gdańsku (tak się wówczas nazywał Klub) był P. A. Magnuszewicz.
    p W latach 1961 -1993 Klubem kierował p. Krzysztof Osiński.
    p Od kwietnia 1994 r. do 7 kwietnia 2012 r. Kierownikiem Klubu był p. Jan Kubiak.
    p Obecnym Kierownikiem Klubu od maja 2012 r. jest p. Leszek Tylak.
    p Wielokrotnym Prezesem Klubu był p. Zbigniew Olszewski (przez 3 kadencje – 1995-2000, 2000-2005 oraz 2005-2010 r.)
    
    h4 Krórka historia Klubu
    p W latach 1952 – 1995  istniała Sekcja strzelecka Z.W.LOK w Gdańsku.Nazwę ”SENIOR” LOK Gdańsk Klub przyjął na zebraniu Sprawozdawczo-wyborczym członków w grudniu 1995 r. Decyzją Urzędu Miejskiego w Gdańsku z dnia 28 marca 2001 r.dopuszczono do użytkowania strzelnicę sportową z odkrytą osią 50-cio metrową 9-cio stanowiskową do broni kulowej (kaliber do 9mm pistoletowy) oraz osią krytą 15-sto metrową 4-ro stanowiskową do broni pneumatycznej (kaliber 4,5mm) zlokalizowaną w Gdańsku przy ul.Kopernika 16. W dniu 9 czerwca 2002 r.Polski Związek Strzelectwa Sportowego w Warszawie przyznał Klubowi ”SENIOR” LOK Gdańsk Licencję Nr LK-30/02/R. W roku 2005 uruchomiono dodatkowo 2-gą oś krytą 10-cio metrową 6-cio stanowiskową do strzelań z broni pneumatycznej (karabin i pistolet). Klub posiada Sekcję młodzieżową (strzelectwo sportowe oraz sporty obronne i letni biathlon) jak również Sekcję Grupy Powszechnej (strzelectwo sportowe). Od roku 2005 Klub pomaga co rok Gminie Trąbki Wielkie w organizacji Mistrzostw Gminy w strzelaniu z broni kulowej i pneumatycznej. W historii naszego Klubu biathlonista Przemysław Tymczuk był  w latach 1994-1996 członkiem Kadry Narodowej Letniego Biathlonu a Medias Grzegorz w latach 2007-2008 był członkiem  Kadry Narodowej Juniorów w pistolecie. Co rok w miesiącu wrześniu Klub ogłasza nabór nowych członków w wieku od lat 10-ciu. 