.content.div-box
  div
    div.inline
      h2 Aktualności
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-lg.btn-primary(ng-click='openPostWindow()') 
        span.glyphicon.glyphicon-plus Dodaj

  div.data-aside(ng-controller="competitionsCtrl")
    center 
      h4 Ostatnie komunikaty
    table.senior-table-bg.table.aside-table
      thead
        tr
          th Nazwa zawodów
          th Data
      tbody
        tr(ng-repeat="c in competitions | filter:{resultsOn:true} | orderBy:'date':true | limitTo:5")
          td 
            a(href="/events/{{c._id}}") {{ c.title }}
          td 
            nobr {{ c.date | date:'dd-MM-yyyy' }}

    center 
      h4 Nadchodzące zawody
    table.senior-table-bg.table.aside-table
      thead
        tr
          th Nazwa zawodów
          th Data
      tbody
        tr(ng-repeat="c in competitions | filter:{resultsOn:false} | limitTo:5")
          td 
            a(href="/events/{{c._id}}") {{ c.title }}
          td 
            nobr {{ c.date | date:'dd-MM-yyyy' }} 

  div.news(ng-repeat="n in news | limitTo:10")
    div 
      h4 {{ n.title }}
    div 
      small {{ n.getDate() | date:'dd-MM-yyyy' }}
    div.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-xs.btn-warning(ng-click='openPostWindow(n)')
        span.glyphicon.glyphicon-pencil
      button.btn.btn-xs.btn-danger(ng-click='removePost(n)') 
        span.glyphicon.glyphicon-remove
    div.postText
      p {{ n.text }}
