.content.div-box
  div
    div.inline
      h2 Aktualności
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-lg.btn-primary(ng-click='openPostWindow()') 
        span.glyphicon.glyphicon-plus Dodaj

  div.news(ng-repeat="n in news")
    div 
      h4 {{ n.title }}
    div 
      small {{ n.getDate() | date:'dd-MM-yyyy  HH:mm' }}
    div.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-xs.btn-warning(ng-click='openPostWindow(n)')
        span.glyphicon.glyphicon-pencil
      button.btn.btn-xs.btn-danger(ng-click='removePost(n)') 
        span.glyphicon.glyphicon-remove
    div.postText
      p {{ n.text }}