.content.div-box
  div.pic-desc
    div
      div.inline
        h2 Aktualności
      div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
        button.btn.btn-lg.btn-primary(ng-click='openNewPostWindow()') 
          span.glyphicon.glyphicon-plus Dodaj

    div.news(ng-repeat="n in news")
      div 
        h4 {{ n.title }}
      div 
        small {{ n.getDate() | date:'dd-MM-yyyy' }}
      div.actionPanel(ng-if="identity.currentUser.isAdmin()")
        button.btn.btn-xs.btn-warning(ng-click='editPost(n)')
          span.glyphicon.glyphicon-pencil
        button.btn.btn-xs.btn-danger(ng-click='removePost(n)') 
          span.glyphicon.glyphicon-remove
      div.postText
        p {{ n.text }}

    div.news 
      div 
        h4 Nowe władze Klubu
      div 
        small 24-03-2015
      div 
        p Z powodu złożenia rezygnacji w grudniu 2014r. z funkcji Prezesa Klubu Senior LOK przez Pana Henryka Szylberga, w wyniku wyborów na zebraniu sprawozdawczo-wyborczym dnia 28.02.2015r. wybrano na stanowisko Prezsea Pana Henryka Łukowicza. Do Zarządu Klubu wybrano: Wiceprezesem i Kierownikiem Klubu Pan Leszek Tylak, Sekretarzem Klubu Pan Wiesław Andrzejewski, Skarbnikiem Klubu Pan Wojciech Lewandowski. Członkowie Zarządu Klubu to: Pan Andrzej Nowak, Pan Andrzej Bryła oraz Pan Robert Welter. W Komisji Rewizyjnej na Przewodniczącego wybrano Pana Jarosława Tobiszewskiego, członkami Komisji wybrano: Pana Marka Frańczaka oraz Pana Michała Tura.
    div.news 
      div 
        h4 Zmiany terminów zawodów.
      div 
        small 25-02-2015
      div
        p W dniach od 04.03.2015 -07.03.2015 r. strzelnica będzie zamknięta z powodu wyjazdu na zawody do Rygi na Łotwie. Zawody 08.03.2015 r. odbędą się zgodnie z planem. Zawody z dnia 15.03.2015r. przesunięte zostają na dzień 14.03.2015r. z powodu wyjazdu.
        p Kierownik Klubu Senior LOK
        p Leszek Tylak
    div.news
      div
        h4 Zmiana terminu III Memoriału Jana Kubiaka
      div
        small 9-02-2015
      div
        p Ponieważ pierwszy termin przypadał na Święta Wielkanocne przesunięcie nastąpiło na 11.04 i 12.04 2015r.
    div.news
      div
        h4 Życzenia Noworoczne
      div 
        small 28-12-2014
      div
        p Wszystkim członkom Klubu SENIOR LOK składam najserdeczniejsze życzenia z okazji Nowego Roky 2015 dużo zdrowia, powodzenia w pracy zawodowej, wspaniałych wyników w strzelaniu i nowej strzelnicy, uśmiechu na co dzień. Życzy Kierownik Klubu Leszek Tylak

      



