.content.div-box
  div.pic-desc
    h2 Opłaty i składki członkowskie
    h4 Wpisowe 
    p Dla nowoprzyjętych członków opłata wynosi 200,- zł. (młodzież do lat 20-stu wpisowego nie wpłaca)
    h4 Roczna składka członkowska wynosi:
    p - młodzież do lat 20-stu opłaca 150,- zł
    p - pozostali (powyżej lat 20-stu) opłacają 200,- zł.
    p Składki członkowskie można opłacać w 2-ch ratach: za pierwsze pół-rocze (do końca marca każdego roku) oraz za drugie półrocze (do końca września każdego roku).
    h4 Opłaty
    p - opłata za egzamin na Patent strzelecki wynosi 400,- zł (młodzież do lat 18-stu egzaminu na Patent nie składa)
    p - opłata za Licencję strzelecką PZSS wynosi 50,- zł + opłata pocztowa 2,50 zł
    p - opłata za zawody (1 osobostart) wynosi 30,- zł.