.content.div-box
    div.inline
      h2 Sponsoring
    div.inline.actionPanel(ng-if="identity.currentUser.isAdmin()")
      button.btn.btn-lg.btn-primary(ng-click='openSponsoringWindow()') 
        span.glyphicon.glyphicon-plus Dodaj
    section(ng-repeat="section in content | filter:'sponsoring' | orderBy:'-position'")
      div.inline 
        h4 {{section.sectionTitle}}
      div.inline(ng-if="identity.currentUser.isAdmin()")
        button.btn.btn-xs.btn-primary(ng-click='move(section)', 
              popover='Przesuń' popover-trigger='mouseenter', popover-placement='right')
          span.glyphicon.glyphicon-arrow-up {{section.position}}
        button.btn.btn-xs.btn-warning(ng-click='openSponsoringWindow(section)', 
              popover='Edytuj' popover-trigger='mouseenter', popover-placement='right')
          span.glyphicon.glyphicon-pencil
        button.btn.btn-xs.btn-danger(ng-click='remove(section)', 
              popover='Usuń' popover-trigger='mouseenter', popover-placement='right') 
          span.glyphicon.glyphicon-remove
      div.description {{section.text}}
