.content
  div#logo
    img(width=1024, src="../img/logo.jpg")
    div.text-box#logo-text-1
      p LUBISZ STRZELAĆ?
    div.text-box#logo-text-2 
      p Zadzwoń dziś!
    div.text-box#logo-text-3 
      p I ZACZNIJ STRZELAĆ Z NAMI!
    div#logo-button.btn.btn-primary
        a(href="/dolacz", role="button") DOŁĄCZ DO NAS

.content.main
  div.main-elem.shadow
    img(src="../img/ammo.png", width="300")
    div.text-box.main-elem-text
      p Aktualności
  div.main-elem.shadow
    img(src="../img/Zawody.jpg", width="300")
    div.text-box.main-elem-text
      p Zawody
  div.main-elem.shadow
    img(src="../img/Oklubie.png", width="300")
    div.text-box.main-elem-text
      p O klubie
