.container
  .jumbotron
    h1 KS SENIOR LOK GDAŃSK
    p Witam na stronie Klubu Strzeleckiego "SENIOR" Ligii Obrony Kraju w Gdańsku.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")