.container
  .jumbotron
    h1 KS SENIOR LOK GDAŃSK
    p Witam na stronie Klubu Strzeleckiego "SENIOR" Ligi Obrony Kraju w Gdańsku.
    p 80-729 Gdańsk ul. Zawodników 1
    p tel. 881-444-452 e-mail: klub@kssenior-gdansk.pl

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")